.header
  .dropdown(data-dropdown='')
    button.link(data-dropdown-button='') Invitations
    .dropdown-menu.information-grid
      a(href='http://localhost:4000/invitation') My Invitations
      a(href='http://localhost:4000/invitation/create') New
  .dropdown(data-dropdown='')
    button.link(data-dropdown-button='') Tasks
    .dropdown-menu.information-grid
      a(href='http://localhost:4000/task/userTasks/pending') My task
      a(href='http://localhost:4000/task/assignedTasks/pending') assigned tasks
      a(href='http://localhost:4000/task/newTask') New
  .dropdown(data-dropdown='')
    button.link(data-dropdown-button='') Comapny
    .dropdown-menu.information-grid
      a(href='http://localhost:4000/company/') Create
  .dropdown(data-dropdown='')
    button.link(data-dropdown-button='') Account
    .dropdown-menu.information-grid
      a#logout(href='#') Logout
      a(href='') Edit
