<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="navbar.css">
  <script src="navbar.js" defer></script>
</head>
<body>
  <div class="header">
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Invitations</button>
      <div class="dropdown-menu information-grid">
        <a href="#">My Invitations/<a>
        <a href="#">New</a>
      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Tasks</button>
      <div class="dropdown-menu information-grid">
        <a href="#">My task</a>
        <a href="#">Task in review</a>
        <a href="#">Finished Tasks</a>
        <a href="#">assigned tasks</a>
        <a href="#">assigned tasks in review</a>
        <a href="#">finished assigned tasks</a>  
      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Comapny</button>
      <div class="dropdown-menu information-grid">
        <a href="#">Create</a>
      </div>
    </div>
    <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Account</button>
        <div class="dropdown-menu information-grid">
          <a href="#">Logout</a>
          <a href="">Edit</a>
        </div>
    </div>
  </div>
</body>
</html>