<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>Create Company</h2>
    <div class="button-container">
        <input class="form-button" type="submit" value="CREATE" ></input>
    </div>
    <h2>or</h2>
    <hr>
    <h2>Accept an Invitation</h2>
    <div class="button-container">
        <input class="form-button" type="submit" value="INVITATIONS"></input>
    </div>
</body>
</html>