.mainTitle {
  margin-left: 10%;
}

body {
  margin: 0;
}

.taskList {
    list-style: none; /* Remove default bullets */
    padding: 0;
  }

.bullet {
    width: 45px;
    height: 45px;
}

.hr-li {
    margin-left: 6.5%;
}

.li-task {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.task-text {
  padding-top: 14px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.form-input {
  outline: none !important;
    padding: 0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.button-container {
  text-align: center;
}

.form-button {
  text-align: center;
  all:unset;
  background-color: rgb(118 53 199);
  border-radius: 35px;
  padding: 10px;
  width:80%;
  color: white;
}

.form-label {
  margin-left: 10%;
  margin-bottom: 30px;
}

.newTask-form-input {
    outline: none !important;
    padding: 0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    margin-bottom: 30px;
}

.text-size-2 {
  font-size: 25px;
}

.newTask-form-container {
  margin-top: 115px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.dateAndAsigned-container2 {    
  margin-bottom: 30px;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  height: 100px;
}

.card-text {
  margin-left: 10%;
}

.card {
    border-color: #e5e5e5;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}



