<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="mainTitle">
        <H2>My tasks</H2>
    </div>
    <hr>
    <ul>
        <li class="li-task"> <img src="blank-check-bullet.svg" class="bullet"> <span class="task-text" > task one </span> </li>
        <hr class="hr-li">
        <li class="li-task"> <img src="green-check-bullet.svg" class="bullet"> <span class="task-text" > task one </span> </li>
        <hr class="hr-li">
        <li class="li-task"> <img src="green-check-bullet.svg" class="bullet"> <span class="task-text" > task one </span> </li>
        <hr class="hr-li">
        <li class="li-task"> <img src="green-check-bullet.svg" class="bullet"> <span class="task-text" > task one </span> </li>
        <hr class="hr-li">
        <li class="li-task"> <img src="green-check-bullet.svg" class="bullet"> <span class="task-text" > task one </span> </li>
    </ul>

</body>
</html>