<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="newTask-form-container">
        <h1>Get some cooffe</h1>
        <div class="dateAndAsigned-container2" >
            <h6>Assigned</h6>
            <h6>due date</h6>
            <h2>Francisco</h2>
            <h2>12/12/12</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum error quos archite
            cto debitis aut qui, aliquid, consequuntur alias ullam laborum placeat? Optio laboriosam
             culpa, aperiam id accusantium nulla iusto.</p>
    </div>
</body>
</html> 