
.mainTitle {
    margin-left: 30%;
  }

  hr {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  body {
    margin: 0;
  }
  
  .taskList {
      list-style: none; /* Remove default bullets */
      padding: 0;
    }
  
  .bullet {
      width: 45px;
      height: 45px;
  }
  
  .li-task {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%
  }
  
  .task-text {
    padding-top: 14px;
  }

  .id {
    display: none
  }

  @media only screen and (max-width: 1000px) {
    .mainTitle {
      margin-left: 10%;
    }
    .li-task {
      display: flex;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 0;
      margin-right: 0;
    }
    hr {
    margin-left: 0;
    margin-right: 0;
    }
  }

  .button-container {
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .form-button {
    text-align: center;
    all:unset;
    background-color: #9f71d81c;
    border-radius: 35px;
    padding: 10px;
    width:80%;
    color: white;
    margin-top: 30px;
    color: black;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #a79bb7;
    margin-right: 5%;
  }

  .active {
    background-color: #9f71d8;
  }

