.mainTitle {
    margin-left: 10%;
  }
  
  body {
    margin: 0;
  }
  
  .taskList {
      list-style: none; /* Remove default bullets */
      padding: 0;
    }
  
  .bullet {
      width: 45px;
      height: 45px;
  }
  
  .li-task {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .task-text {
    padding-top: 14px;
  }

  .id {
    display: none
  }

